html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
fieldset,
img {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  cursor: pointer;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="search"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
input,
button,
textarea {
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="hidden"],
[hidden],
.hidden {
  display: none;
}
textarea {
  overflow: auto;
  resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
a > img {
  vertical-align: bottom;
}
strong,
.strong,
b {
  font-weight: bold;
}
em,
.italic,
i {
  font-style: italic;
}
del,
.del {
  text-decoration: line-through;
}
:focus {
  outline: none;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.map-canvas img {
  max-width: none;
}
.clear {
  clear: both;
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix:after,
.cf:after,
.wrap:after,
.spanning:after,
.content:after,
.main:after,
aside:after,
section:after,
article:after,
.text:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.align-left {
  float: left !important;
}
.align-right {
  float: right !important;
}
.overflow-hidden {
  overflow: hidden;
  display: block;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  min-width: 1140px;
  font: 400 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #0363b4;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgba(3, 99, 180, 0.2);
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?591ua8');
  src: url('../fonts/icomoon.eot?591ua8#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?591ua8') format('truetype'), url('../fonts/icomoon.woff?591ua8') format('woff'), url('../fonts/icomoon.svg?591ua8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-green {
  color: #03b420;
}
.icon-blue {
  color: #0363b4;
}
.icon-gray {
  color: #808080;
}
.icon-red {
  color: #dd3434;
}
.icon-margin-right {
  margin-right: 10px;
}
.icon-minus:before {
  content: "\e939";
}
.icon-blood:before {
  content: "\e933";
}
.icon-cord-blood:before {
  content: "\e934";
}
.icon-milk:before {
  content: "\e935";
}
.icon-hair:before {
  content: "\e936";
}
.icon-participant:before {
  content: "\e937";
}
.icon-meconium:before {
  content: "\e938";
}
.icon-download:before {
  content: "\e914";
}
.icon-samples:before {
  content: "\e932";
}
.icon-arrow-bottom:before {
  content: "\e92c";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-doc-file:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-pin:before {
  content: "\e904";
}
.icon-site:before {
  content: "\e905";
}
.icon-department:before {
  content: "\e906";
}
.icon-arrow-top:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-edit-bold:before {
  content: "\e909";
}
.icon-date:before {
  content: "\e90a";
}
.icon-refresh:before {
  content: "\e90b";
}
.icon-megaphone:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-pdf:before {
  content: "\e90e";
}
.icon-doc:before {
  content: "\e90f";
}
.icon-accepted:before {
  content: "\e910";
}
.icon-reject:before {
  content: "\e911";
}
.icon-watch:before {
  content: "\e912";
}
.icon-back:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e915";
}
.icon-mail-second:before {
  content: "\e916";
}
.icon-circle-left:before {
  content: "\e917";
}
.icon-print:before {
  content: "\e918";
}
.icon-docs:before {
  content: "\e919";
}
.icon-view:before {
  content: "\e91a";
}
.icon-our-data:before {
  content: "\e91b";
}
.icon-help-large:before {
  content: "\e91c";
}
.icon-faq:before {
  content: "\e91d";
}
.icon-question:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-Lock:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e921";
}
.icon-edit:before {
  content: "\e922";
}
.icon-data:before {
  content: "\e923";
}
.icon-settings:before {
  content: "\e924";
}
.icon-user:before {
  content: "\e925";
}
.icon-upload:before {
  content: "\e926";
}
.icon-comlete-bold:before {
  content: "\e927";
}
.icon-close:before {
  content: "\e928";
}
.icon-remove:before {
  content: "\e929";
}
.icon-add:before {
  content: "\e92a";
}
.icon-complete:before {
  content: "\e92b";
}
.icon-write:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-layers:before {
  content: "\e92f";
}
.icon-help:before {
  content: "\e930";
}
.icon-dashboard:before {
  content: "\e931";
}
html {
  height: 100%;
  background: #f6f6f6;
}
.main {
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 160px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  margin: 0 auto;
  max-width: 1140px;
}
.row {
  margin: 0 -6px;
}
.row-large-margin {
  margin: 0 -15px;
}
.col {
  padding: 0 7px;
  float: left;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-33 {
  width: 33.33333333%;
}
.col-5 {
  width: 50%;
  padding: 0 15px;
}
.popup-box {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: none;
  overflow: hidden;
  overflow-y: scroll;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup-table {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}
.popup-table-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup {
  background: #fff;
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
  z-index: 999;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.close-popup {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  right: 20px;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.close-popup:hover {
  color: #0363b4;
  text-decoration: none;
}
.close-popup:active {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.body-hidden {
  overflow: hidden;
  margin-right: 15px;
}
#login {
  background: url(../images/bg.jpg) no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.popup-title {
  padding: 90px 40px 15px;
}
.popup-title h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}
.popup-text {
  max-width: 630px;
  margin: 0 auto 70px;
}
.popup-text p {
  font-size: 16px;
  line-height: 1.375;
  color: #808080;
  text-align: center;
  font-weight: 500;
}
.input-box {
  position: relative;
  margin: 0 0 10px;
}
.popup-form {
  max-width: 380px;
  margin: 0 auto 30px;
}
.popup-form .input-text {
  background-color: transparent;
  font-size: 16px;
  height: 60px;
  color: #808080;
  padding-left: 45px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  z-index: 5;
}
.popup-form span {
  font-size: 16px;
  color: #808080;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.popup-form .icon-Lock {
  font-size: 24px;
}
.popup-form .button {
  margin-top: 20px;
  float: left;
}
.forgot-password {
  font-size: 18px;
  font-weight: 500;
  margin: 37px 0 0;
  float: right;
}
.or-text {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  clear: both;
  margin: 0 0 30px;
}
.or-text span {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}
.social-login {
  max-width: 544px;
  margin: 0 auto 30px;
}
.social-login p {
  font-size: 14px;
  line-height: 1.28571429;
  color: #808080;
  font-weight: 500;
  text-align: center;
}
.social-login-links {
  margin: 0 0 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.social-login-links a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 168px;
  height: 50px;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.social-login-links a:hover {
  border-color: #98b8e1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.sign-up-text {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px 20px;
  border-top: 1px solid #e6e6e6;
}
.sign-up-text p {
  font-size: 16px;
  color: #808080;
  font-weight: 500;
}
.sign-up-text p a {
  font-weight: 700;
}
.error {
  color: #dd3434 !important;
  border-color: #dd3434 !important;
}
.success {
  color: #03b420 !important;
  border-color: #03b420 !important;
}
.disabled {
  color: #808080 !important;
  border-color: #808080 !important;
  cursor: default !important;
}
.input-text,
.textarea {
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #e3e3e3;
  padding: 0 20px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: inset 0 1px 1px #d9d9d9;
  -webkit-box-shadow: inset 0 1px 1px #d9d9d9;
  box-shadow: inset 0 1px 1px #d9d9d9;
  width: 100%;
  height: 40px;
  float: left;
}
.input-text::-webkit-input-placeholder {
  color: #a0a0a0;
}
.input-text::-moz-placeholder {
  color: #a0a0a0;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.input-text:-moz-placeholder {
  color: #a0a0a0;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.input-text:-ms-input-placeholder {
  color: #a0a0a0;
}
.textarea {
  height: 100px;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.textarea::-webkit-input-placeholder {
  color: #a0a0a0;
}
.textarea::-moz-placeholder {
  color: #a0a0a0;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.textarea:-moz-placeholder {
  color: #a0a0a0;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.textarea:-ms-input-placeholder {
  color: #a0a0a0;
}
.button {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #0363b4;
  border: 0;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 167px;
  height: 50px;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background-color: rgba(3, 99, 180, 0.9);
}
.checkbox-box {
  position: relative;
}
.checkbox {
  height: auto;
  width: 15px;
  height: 15px;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  display: none;
}
.checkbox:not(checked) + label {
  font-size: 16px;
  font-weight: 500;
  color: #808080;
  position: relative;
  padding: 0 0 0 25px;
  display: block;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  height: auto;
  width: 12px;
  height: 12px;
  -moz-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
  border: 2px solid black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.checkbox:checked + label {
  color: #0363b4;
}
.checkbox:checked + label:before {
  background: #0363b4;
  border-color: #0363b4;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox:checked + label:after {
  font-family: 'icomoon' !important;
  font-size: 6px;
  color: #ffffff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e92b";
  top: 7px;
  left: 2px;
}
.select-box {
  width: 100%;
  float: left;
}
.selectboxit-container {
  position: relative;
  display: block;
}
.selectboxit-container * {
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}
.selectboxit-container .selectboxit {
  color: #808080;
  font-weight: 500;
  width: 360px;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  display: block;
  position: relative;
}
.selectboxit-container span,
.selectboxit-container .selectboxit-options a {
  height: 40px;
  /* Height of the drop down */
  line-height: 40px;
  /* Vertically positions the drop down text */
  display: block;
}
.selectboxit-container .selectboxit:focus {
  outline: 0;
}
.selectboxit.selectboxit-disabled,
.selectboxit-options .selectboxit-disabled {
  -moz-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
.selectboxit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.selectboxit-option .selectboxit-option-anchor {
  padding: 0 10px;
}
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}
.selectboxit-option,
.selectboxit-optgroup-header {
  text-indent: 5px;
  /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none;
}
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.selectboxit-optgroup-header {
  font-weight: bold;
}
.selectboxit-optgroup-header:hover {
  cursor: default;
}
.selectboxit-arrow-container {
  width: 30px;
  position: absolute;
  right: 0;
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 0;
  left: 0;
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}
.selectboxit-option-icon-container {
  float: left;
}
.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}
.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.jqueryui .ui-icon {
  background-color: inherit;
}
.selectboxit-btn {
  background-color: white;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigyMTUsIDIxNSwgMjE1KSIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(bottom, rgba(215, 215, 215, 0.04) 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(bottom, rgba(215, 215, 215, 0.04) 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(bottom, rgba(215, 215, 215, 0.04) 0%, #f8f8f8 100%);
  background-image: linear-gradient(to top, rgba(215, 215, 215, 0.04) 0%, #f8f8f8 100%);
  border: 1px solid #d8d8d8;
}
.selectboxit-default-arrow:before {
  font-family: 'icomoon' !important;
  font-size: 8px;
  color: #a2a2a2;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e92c";
}
.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.selectboxit-list .selectboxit-option-anchor {
  color: #333333;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}
.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999;
}
.from-to {
  float: right;
}
.from-to label {
  font-size: 13px;
  line-height: 40px;
  font-weight: 500;
  margin: 0 14px 0 20px;
  float: left;
}
.ft-small .input-text {
  width: 125px;
}
header {
  background: url(../images/header.jpg) no-repeat center #3d556b;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 167px;
  position: relative;
  margin: 0 0 34px;
}
.logo {
  margin: 23px 40px 0 0;
  position: relative;
  float: left;
}
.logo img {
  float: left;
}
.logo a {
  float: left;
}
.childrens {
  background: url(../images/childrens.png) no-repeat;
  width: 97px;
  height: 58px;
  margin: 19px 0 0;
  float: left;
}
.top-menu {
  margin: 31px 0 0;
  float: right;
}
.top-menu li {
  line-height: 30px;
  padding: 0 36px;
  float: left;
}
.top-menu a {
  color: #ffffff;
  font-weight: 500;
}
.top-menu a:hover {
  text-decoration: underline;
}
.top-menu .icon-help {
  font-size: 16px;
  margin: 7px 6px 0 0;
  float: left;
}
.log-in {
  padding-right: 0 !important;
}
.log-in a {
  color: #0363b4;
  line-height: 36px;
  text-align: center;
  width: 78px;
  height: 36px;
  background-color: white;
  border: 1px solid white;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  margin: -2px 0 0;
}
.notification-icon {
  line-height: 25px;
  text-align: center;
  height: auto;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 3px 6px 0 0;
  float: left;
}
.header-bg {
  background: rgba(0, 0, 0, 0.23);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}
.main-menu {
  line-height: 60px;
  float: left;
}
.main-menu li {
  margin-left: 50px;
  float: left;
}
.main-menu li:first-child {
  margin-left: 0;
}
.main-menu a {
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  display: block;
}
.main-menu a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.main-menu .current a {
  color: #ffe400;
}
.main-menu .icon {
  font-size: 16px;
  margin: 22px 8px 0 0;
  float: left;
}
.main-menu .last {
  background: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 500;
  height: 60px;
  float: right;
}
.main-menu .last a {
  padding: 0 20px;
}
.main-menu .last .icon {
  margin: 22px 0 0 8px;
  float: right;
}
.main-menu .last:hover {
  text-decoration: none;
}
footer {
  background: #444447;
  height: 160px;
  margin-top: -160px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer .logo {
  width: 235px;
  height: 40px;
  margin: 60px 0 0;
}
footer .logo a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  padding-left: 80px;
  position: relative;
  width: auto;
  height: auto;
  float: left;
}
footer .logo a:before {
  background: url(../images/logo-footer.png) no-repeat;
  width: 71px;
  height: 40px;
  position: absolute;
  top: -2px;
  left: 0;
  content: '';
}
.footer-box {
  margin: 38px 0 0;
  float: right;
}
.footer-box ul {
  float: right;
  clear: both;
}
.footer-box li {
  margin: 0 0 15px 34px;
  float: left;
}
.footer-box li:first-child {
  margin-left: 0;
}
.footer-box a {
  font-size: 14px;
  font-weight: 500;
  color: #a0a0a1;
}
.footer-box a:hover {
  color: #ffffff;
}
.copy {
  font-size: 14px;
  font-weight: 500;
  color: #777779;
  text-align: right;
  width: 100%;
  float: left;
}
.spanning {
  clear: both;
}
.content {
  width: 880px;
  margin: 0 0 40px;
  float: right;
}
.content .page-title {
  margin: 0 0 25px;
}
.content-small {
  width: 640px;
}
.categories-list {
  margin: 0 0 25px;
}
.categories-list a {
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  color: black;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin: 0 10px 10px 0;
  padding: 0 23px;
  text-decoration: none;
  float: left;
}
.categories-list a span {
  color: #808080;
  margin-right: 10px;
}
.categories-list a:hover {
  background: #0363b4;
  border-color: #0363b4;
  color: #ffffff;
}
.categories-list a:hover span {
  color: #ffffff;
}
.categories-list .active {
  background: #0363b4;
  border-color: #0363b4;
  color: #ffffff;
  padding-left: 56px;
  position: relative;
}
.categories-list .active:before {
  font-family: 'icomoon' !important;
  font-size: 17px;
  color: #ffffff;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e92b";
  top: 15px;
  left: 21px;
}
.categories-list .active span {
  color: #ffffff;
}
.table-main-box {
  border: 1px solid #d9d9d9;
}
.table-main-box .main-table {
  margin: 0;
}
.table-title {
  font-size: 15px;
  line-height: 53px;
  color: #808080;
  font-weight: 500;
  border-bottom: 0;
  padding: 0 20px;
}
.table-title strong {
  color: black;
  font-weight: 500;
}
.small-white-table {
  width: 440px;
  margin: 0 0 40px;
}
.small-white-table table {
  border: 1px solid #d9d9d9;
  width: 100%;
}
.small-white-table table th,
.small-white-table table td {
  padding: 20px;
}
.small-white-table table tr {
  border-bottom: 1px solid #d9d9d9;
}
.small-white-table table tr:last-child {
  border: 0;
}
.small-white-table table th {
  background: #f6f6f6;
  font-size: 12px;
  font-weight: 700;
  color: #808080;
}
.small-white-table table td {
  background: #ffffff;
  font-size: 16px;
}
.small-white-table table span {
  color: #a5a5a5;
}
.sidebar {
  width: 240px;
  margin: 0 0 40px;
  float: left;
}
.sidebar .page-title {
  max-width: 240px;
  margin: 0 0 25px;
}
.sidebar-two-column {
  width: 480px;
}
.arrow-title {
  background: url(../images/sprite.png) no-repeat -342px -121px;
  width: 8px;
  height: 13px;
  margin: 11px 0 0;
  float: right;
}
.filter-column {
  background: #ffffff;
  width: 240px;
  border: 1px solid #d9d9d9;
  float: left;
}
.filter-box {
  border-bottom: 1px solid #d9d9d9;
}
.filter-box:last-child {
  border: 0;
}
.filter-box ul {
  margin-left: 20px;
  padding: 7px 0;
}
.filter-box li {
  padding: 21px 0;
  border-top: 1px solid #d9d9d9;
}
.filter-box li:first-child {
  border: 0;
}
.filter-title {
  border-bottom: 1px solid #d9d9d9;
}
.filter-title a {
  background: #f6f6f6;
  font-size: 16px;
  line-height: 52px;
  color: black;
  font-weight: 500;
  display: block;
  padding: 0 40px 0 20px;
  text-decoration: none;
  position: relative;
}
.filter-title span {
  font-size: 12px;
  color: #808080;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  right: 20px;
  margin-top: -5px;
}
.filter-title span:before {
  background-color: #0363b4;
  font-size: 2px;
  content: '\e939';
}
.fb-collapsed {
  border-bottom: 0;
}
.fb-collapsed .filter-title span {
  color: #0363b4;
  margin-top: -1px;
}
.fb-collapsed .filter-title span:before {
  background-color: transparent;
  font-size: 15px;
  content: '\e92a';
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  line-height: 1.2;
  color: black;
  font-weight: 500;
  margin: 0 0 15px;
}
.text h1 {
  font-size: 24px;
}
.text h2 {
  font-size: 22px;
}
.text h3 {
  font-size: 20px;
}
.text h4,
.text h5,
.text h6 {
  font-size: 18px;
}
.text p,
.text ul,
.text ol {
  font-size: 18px;
  line-height: 1.33333333;
  color: #808080;
  margin: 0 0 25px;
}
.text ul {
  list-style: outside disc;
  padding-left: 15px;
}
.text ol {
  list-style: outside decimal;
  padding-left: 15px;
}
.index-page header {
  background-image: url(../images/header-index.jpg);
  height: 456px;
  margin: 0;
}
.index-page header .logo {
  margin-bottom: 44px;
}
.index-page .top-menu li {
  padding: 0 12px;
}
.index-menu {
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0px 0px 1px 1px;
  -webkit-border-radius: 0px 0px 1px 1px;
  border-radius: 0px 0px 1px 1px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  clear: both;
  height: 45px;
}
.index-menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}
.index-menu li {
  text-align: center;
  height: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 30px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.index-menu li:first-child {
  border: 0;
}
.index-menu a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.index-menu a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.index-menu span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 3px 0;
}
.header-text {
  height: 294px;
  padding: 30px 0;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header-text h1 {
  font-size: 36px;
  line-height: 1.33333333;
  color: #ffffff;
  max-width: 650px;
  margin: 0 auto 35px;
}
.ht-links {
  width: 100%;
}
.ht-links a {
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  color: #0363b4;
  font-weight: 700;
  width: 200px;
  height: 50px;
  background-color: #f2f2f2;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 13px;
  vertical-align: top;
  text-decoration: none;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border: 1px solid transparent;
}
.ht-links a:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.ht-links .htl-blue {
  background-color: #0363b4;
  color: #ffffff;
}
.index-white-box {
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.study-overview,
.easy-access,
.faq-new,
.about,
.partners {
  padding: 55px 0;
}
.index-title {
  margin: 0 0 30px;
}
.index-title h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  color: #333333;
  text-align: center;
}
.overview-list .col-33 {
  position: relative;
}
.overview-list .col-33:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGNkY2RjIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0, #dcdcdc 50%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0, #dcdcdc 50%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 0, #dcdcdc 50%, #ffffff 100%);
  background-image: linear-gradient(to top, #ffffff 0, #dcdcdc 50%, #ffffff 100%);
}
.overview-list .col-33:first-child:before {
  display: none;
}
.overview-item {
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  height: 270px;
  position: relative;
}
.overview-item h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.overview-item p,
.overview-item ul {
  font-size: 13px;
  line-height: 1.69230769;
  color: #808080;
}
.overview-item li {
  margin-left: -15px;
  padding-left: 15px;
}
.overview-item li:before {
  content: '• ';
}
.overview-item .more-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.oi-image {
  height: 50px;
  margin: 0 0 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.more span {
  display: inline-block;
  font-size: 8px;
  margin: 0 0 2px 8px;
  vertical-align: middle;
}
.access-item {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
}
.access-item h2 {
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin: 0 0 10px;
}
.access-item p {
  font-size: 13px;
  line-height: 1.69230769;
  color: #808080;
  font-weight: 500;
}
.ai-image {
  height: 160px;
  margin: 0 0 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.access-list .col-33:last-child img {
  margin-bottom: -14px;
}
.faq-accordion {
  width: 360px;
  float: left;
}
.faq-accordion .accordion {
  border: 1px solid #dbdbdb;
  margin: 0 0 -1px;
}
.faq-accordion .accordion h2 {
  font-size: 16px;
  font-weight: 500;
}
.faq-accordion .accordion .open-accordion {
  color: black;
  text-decoration: none;
  display: block;
  padding: 20px 40px 20px 20px;
  position: relative;
}
.faq-accordion .accordion .open-accordion:hover,
.faq-accordion .accordion .open-accordion:hover .icon-add {
  color: #0363b4;
}
.faq-accordion .accordion .open-accordion.active {
  color: #0363b4;
}
.faq-accordion .accordion .open-accordion.active .icon-add {
  margin-top: -5px;
  color: #0363b4;
}
.faq-accordion .accordion .open-accordion.active .icon-add:before {
  background-color: #0363b4;
  font-size: 2px;
  content: '\e939';
}
.faq-accordion .accordion .icon-add {
  font-size: 14px;
  color: #cfcfcf;
  position: absolute;
  top: 50%;
  right: 20px;
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.faq-accordion .accordion-text {
  padding: 0 40px 20px;
}
.faq-accordion .accordion-text p,
.faq-accordion .accordion-text ul {
  font-size: 13px;
  color: #808080;
  font-weight: 600;
}
.faq-accordion .accordion-text span {
  color: #565656;
}
.accordion-text {
  display: none;
}
.content-new {
  width: 740px;
  float: right;
}
.content-new .index-title h2 {
  text-align: left;
}
.new-list {
  margin: 0 0 40px;
}
.new-item {
  text-align: center;
}
.new-item img {
  width: 236px;
  height: 130px;
  background-color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto 20px;
}
.new-item h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 15px;
}
.new-item h2 a {
  color: black;
}
.new-item p {
  font-size: 14px;
  line-height: 1.28571429;
  color: #808080;
  font-weight: 500;
  margin: 0 0 10px;
}
.require-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 142px;
  border: 1px solid #d9d9d9;
  padding: 0 40px;
}
.require-data h2 {
  font-size: 24px;
  line-height: 1.16666667;
  font-weight: 500;
  max-width: 355px;
}
.require-data a {
  font-size: 18px;
  color: #ffffff;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #3272c3;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.about .wrap {
  width: 920px;
}
.about-post {
  clear: both;
}
.about-post img {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ap-text h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.ap-text p {
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: 500;
  color: #808080;
  margin: 0 0 10px;
}
.ap-text p strong {
  color: black;
  font-weight: 500;
}
.ap-left img {
  float: left;
}
.ap-left .ap-text {
  margin-left: 500px;
}
.ap-right img {
  float: right;
}
.ap-right .ap-text {
  margin-right: 500px;
  padding-top: 35px;
}
.partners .row {
  margin: 0 -10px;
}
.partners .col-25 {
  padding: 0 10px;
}
.pi-image {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
}
.partners-item h2 {
  font-size: 14px;
  line-height: 1.28571429;
  font-weight: 500;
  color: #333333;
  text-align: center;
}
.partners-item h2 a {
  color: #333333;
}
.page-title {
  margin: 0 0 15px;
}
.page-title h1,
.page-title h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}
.page-title span {
  color: #808080;
}
.pt-requests {
  margin-bottom: 40px;
}
.pt-with-text {
  margin: 0 0 20px;
}
.pt-with-text h1 {
  margin: 0 0 15px;
}
.pt-with-text p {
  font-size: 14px;
  line-height: 1.57142857;
  color: #808080;
  font-weight: 500;
}
.main-table.va-middle * {
  vertical-align: middle;
}
.button-group {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.button-group a {
  color: #000;
  font-size: 14px;
  border: 1px solid #e3e3e3;
  padding: 12px 32px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
}
.button-group a + a {
  border-left: none;
}
.button-group a.active {
  background: #ffffff;
}
.small-paragraph p {
  font-size: 100%;
  line-height: 1.5;
}
.main-table {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 0 25px;
}
.main-table th {
  background: #eaeaea;
  line-height: 1.1;
  color: #6c6464;
  font-weight: 500;
  padding: 8px 5px 8px 18px;
}
.main-table th a {
  text-transform: uppercase;
  color: #6c6464;
}
.main-table th strong {
  font-weight: 500;
  color: #333333;
}
.main-table td {
  background: #f6f6f6;
  font-weight: 500;
  padding: 15px 5px 15px 18px;
  vertical-align: top;
}
.main-table tr:nth-child(odd) td {
  background: #fdfdfd;
}
.main-table strong {
  font-weight: 500;
  color: #a0a0a0;
}
.main-table p span {
  color: #808080;
}
.main-table h2 {
  font-size: 17px;
  font-weight: 500;
  color: #404040;
  margin: 0 0 5px;
}
.main-table h3 {
  font-size: 13px;
  font-weight: 500;
  color: #404040;
}
.main-table small {
  font-size: 13px;
  color: #808080;
}
.tt-data {
  background: #eaeaea;
  line-height: normal;
  font-weight: 500;
  padding: 10px 5px 10px 18px;
}
.tt-data .icon {
  font-size: 12px;
  margin-right: 10px;
}
.mt-text-small-font th,
.mt-text-small-font td,
.mt-text-small-font p,
.mt-text-small-font a {
  font-size: 13px;
  line-height: 1.5;
}
.mt-large-pading td,
.mt-large-pading th {
  padding-left: 30px;
  padding-right: 30px;
}
.mt-no-margin {
  margin-bottom: 0;
}
.mt-sort th {
  text-transform: uppercase;
  cursor: pointer;
}
.mt-sort .icon-arrow-bottom {
  font-size: 6px;
  margin: 0 0 2px 6px;
  display: inline-block;
  vertical-align: middle;
}
.headerSortDown .icon-arrow-bottom {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.table-link {
  font-size: 13px;
  line-height: 31px !important;
  color: #ffffff !important;
  width: 90px;
  height: 31px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  display: block;
  padding: 0 10px;
}
.table-link .icon-arrow-right {
  font-size: 8px;
  margin: 12px 0 0;
  float: right;
}
.table-link-blue {
  background-color: #0363b4;
}
.table-link-red {
  background: #dd3434;
}
.table-link-green {
  background: #03b420;
}
.table-link-download,
.table-link-view {
  margin-right: 13px;
  width: auto;
  min-width: 90px;
  float: right;
}
.table-link-download .icon-download,
.table-link-view .icon-download,
.table-link-download .icon-view,
.table-link-view .icon-view {
  color: #ffffff;
  display: inline-block;
  margin-left: 10px;
}
.table-link-download .icon-view,
.table-link-view .icon-view {
  font-size: 8px;
}
.more-box {
  text-align: center;
  margin: 0 0 35px;
}
.more-box .icon-arrow-bottom {
  font-size: 6px;
  margin: 0 0 2px 8px;
  display: inline-block;
  vertical-align: middle;
}
.more-link {
  font-weight: 500;
  color: #0363b4;
}
.info-link {
  display: inline-block;
  padding-left: 20px;
  position: relative;
}
.info-link:before {
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 14px;
  content: '!';
  height: auto;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0363b4;
}
.white-box {
  background-color: white;
  box-shadow: 0 1px 0 #e6e6e6, inset 0 1px 0 #e6e6e6;
  margin: 0 0 32px;
  padding: 28px 0;
}
.white-box .more-box {
  margin: 0;
}
.overview-list {
  margin: 0 -15px;
}
.overview {
  background-color: white;
  border: 1px solid #d9d9d9;
  width: 360px;
  margin: 0 15px 30px;
  padding: 15px 21px;
  position: relative;
  float: left;
}
.overview h2 {
  font-size: 18px;
  line-height: 1.33333333;
  font-weight: 700;
  margin: 0 0 10px;
}
.overview h2 a {
  color: #000;
}
.overview p {
  color: #a0a0a0;
  font-weight: 500;
}
.search-box {
  margin: 0 0 18px;
}
.search-box .page-title {
  float: left;
}
.search-box .page-title h2 {
  line-height: 40px;
}
.search-elements {
  float: right;
}
.sb-new-elements {
  margin: 0;
}
.sb-new-elements .search-elements {
  float: left;
}
.se-paste-box {
  width: 713px;
  float: left;
}
.se-paste-box .se-input {
  margin-right: 20px;
  margin-bottom: 20px;
}
.se-paste-box .se-medium {
  width: 224px;
}
.se-paste-box .se-medium:nth-child(3n) {
  margin-right: 0;
}
.se-list {
  float: left;
}
.se-hide {
  display: none;
}
.se-hide.se-medium {
  display: block;
}
.se-input {
  background: #ffffff;
  width: 240px;
  height: 40px;
  position: relative;
  float: left;
}
.se-input:before {
  font-family: 'icomoon' !important;
  font-size: 17px;
  color: #a2a2a2;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e92e";
  top: 12px;
  left: 11px;
}
.se-input .input-text {
  background-color: transparent;
  padding: 0 20px 0 40px;
  position: relative;
  z-index: 5;
}
.se-select {
  margin: 0 20px;
  float: left;
}
.se-select a {
  font-size: 14px;
  line-height: 40px;
  color: black;
  font-weight: 500;
  text-align: center;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  border: 1px solid #e3e3e3;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin: 0 -1px 0 0;
  float: left;
}
.se-select a.active {
  background: #ffffff;
  background-image: none;
}
.se-controls {
  margin-bottom: 20px;
  float: left;
}
.se-controls a {
  font-size: 18px;
  line-height: 40px;
  color: black;
  font-weight: 500;
  text-align: center;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  border: 1px solid #e3e3e3;
  text-decoration: none;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin: 0 -1px 0 0;
  float: left;
}
.se-controls a:hover {
  background: #ffffff;
  background-image: none;
}
.se-controls .icon-delete {
  color: #dd3434;
}
.se-controls .icon-add {
  font-size: 14px;
  color: #03b420;
}
.sub-menu {
  margin: -34px 0 30px;
  height: 54px;
  border-bottom: 1px solid #d9d9d9;
}
.sub-menu-list li {
  float: left;
}
.sub-menu-list li:last-child a {
  border-right: 1px solid #d9d9d9;
}
.sub-menu-list li a {
  font-size: 15px;
  line-height: 54px;
  color: #808080;
  font-weight: 500;
  display: block;
  padding: 0 40px;
  border-left: 1px solid #d9d9d9;
}
.sub-menu-list .active a {
  background: #ffffff;
  color: #0363b4;
  position: relative;
  text-decoration: none;
}
.sub-menu-list .active a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #0363b4;
}
.top-search-box {
  background: #ffffff;
  margin: -34px 0 30px;
  padding: 30px 0;
  border: 1px solid #e6e6e6;
}
.top-search-box .se-input {
  width: 360px;
  margin-right: 30px;
}
.top-search-box .select-box {
  width: 360px;
}
.back {
  font-size: 16px;
}
.back span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 0 10px 5px 0;
}
.top-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  clear: both;
}
.top-panel a {
  font-size: 16px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 15px;
  height: 44px;
  border: 1px solid rgba(3, 99, 180, 0.5);
  margin: 0 0 0 10px;
  text-decoration: none;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  float: left;
}
.top-panel a:hover {
  background: #ffffff;
}
.top-panel .icon {
  margin-right: 10px;
}
.top-panel .tp-delete {
  border-color: rgba(221, 52, 52, 0.5);
  color: #dd3434;
}
.top-panel .tp-checked {
  border-color: rgba(3, 180, 32, 0.5);
  color: #03b420;
}
.top-panel .tp-not-checked {
  border-color: rgba(128, 128, 128, 0.5);
  color: #808080;
}
.request-info {
  background-color: #fdfdfd;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 113px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0 0 40px;
  padding: 0 30px;
}
.ri-item h2 {
  font-size: 13px;
  line-height: 1;
  color: #808080;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.ri-item p {
  font-size: 16px;
  font-weight: 500;
}
.ri-item h2,
.ri-item p {
  margin-left: 40px;
}
.ri-icon {
  width: 40px;
  float: left;
}
.ri-icon .icon {
  font-size: 26px;
}
.request-row {
  margin: 0 -20px;
}
.request-row .col {
  padding: 0 20px;
}
.request-box {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 40px;
}
.request-info-white {
  background-color: #ffffff;
  padding: 30px 20px 0;
}
.request-info-white table {
  width: 100%;
  margin-bottom: 30px;
}
.request-info-white table h2 {
  font-size: 13px;
  color: #808080;
  font-weight: 500;
  margin: 0 0 2px;
}
.request-info-white table h2 span {
  text-transform: uppercase;
}
.request-info-white table p {
  font-size: 16px;
  font-weight: 500;
}
.request-info-white table p a {
  color: black;
}
.request-info-white th {
  font-size: 12px;
  color: #808080;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
}
.request-info-white td {
  font-size: 14px;
  font-weight: 500;
  padding-top: 30px;
  width: 50%;
}
.request-info-white tr:first-child td {
  padding-top: 0;
}
.request-docs-list td,
.request-votes-list td {
  padding: 15px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  width: auto;
}
.request-docs-list td:last-child,
.request-votes-list td:last-child {
  text-align: right;
}
.request-docs-list .icon,
.request-votes-list .icon {
  font-size: 32px;
}
.request-votes-list td {
  vertical-align: top;
}
.request-votes-list td:last-child {
  text-align: left;
}
.request-votes-list .icon-accepted,
.request-votes-list .icon-reject {
  font-size: 22px;
  margin: -5px 10px 0 0;
  float: left;
}
.request-votes-list .icon-reject,
.request-votes-list .icon-delete {
  font-size: 20px;
  margin-top: -2px;
}
.request-votes-list .icon-delete {
  float: right;
}
.remove-status-row {
  color: #dd3434;
}
.request-title {
  background-color: #eaeaea;
  height: 50px;
  padding: 0 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.request-title h2 {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  display: inline-block;
}
.request-title em {
  font-style: normal;
  color: #808080;
}
.request-title strong {
  color: #03b420;
  font-weight: 500;
}
.request-link {
  font-size: 13px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  min-width: 90px;
  margin-left: 20px;
  padding: 0 20px;
  float: left;
}
.request-link .icon {
  display: inline-block;
  margin-right: 10px;
}
.collapse-request {
  text-align: center;
  color: #ffffff;
  height: auto;
  width: 18px;
  height: 18px;
  background-color: #0363b4;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
  float: left;
}
.collapse-request .icon {
  font-size: 6px;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}
.custom-scroll {
  height: 300px;
  overflow-y: auto;
  margin: 0 -20px;
  padding: 0 20px;
}
