html {
    height: 100%;
    background: #f6f6f6;
}
.main {
    min-height: 100%;
    overflow: hidden;
    padding-bottom: @footer;
    .sizing();
}
.wrap {
    margin: 0 auto;
    max-width: @wrap;
}
.row {
    margin: 0 -6px;
}
.row-large-margin {
    margin: 0 -15px;
}
[class^="col-"], [class*=" col-"] {
    padding: 0 7px;
    float: left;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-33 {
    width: 100/3%;
}
.col-5 {
    width: 50%;
    padding: 0 15px;
}